.demo-block.demo-menu {
  .yn-menu-demo {
    padding-left: 55px;
  }
  .yn-menu-vertical-demo:not(.yn-menu--collapse) {
    width: 240px;
    min-height: 400px;
  }
  .line {
    height: 1px;
    background-color: #e0e6ed;
    margin: 35px -24px;
  }
  h5 {
    font-size: 14px;
    color: #8492a6;
    margin-top: 10px;
  }
  .tac {
    text-align: center;

    .yn-menu-vertical-demo {
      display: inline-block;
      text-align: left;
    }
  }
}
