@import '../../../style/common/var.scss';
@import '../../../style/mixins/minxins.scss';

@include b(main) {
  display: block;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: $--main-padding;
}
